* {
  margin: 0;
  padding: 0;
}

div#container {
  height: 100vh;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr;
  grid-template-rows: 50px 2fr 1fr 50px;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
  grid-gap: 4px;
}

@media only screen and (max-width:600px) {
  div#container {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 1.5fr 1fr 1fr 1fr 50px;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer"
  }
}



nav {
  grid-area: nav;
  background: #fff2df;
}

main {
  grid-area: main;
  background: #d9ad7c;
}

aside {
  grid-area: sidebar;
  background: #a2836e;
}

div#content1 {
  grid-area: content1;
  background: #f4a688;
}

div#content2 {
  grid-area: content2;
  background: #e0876a;
}

div#content3 {
  grid-area: content3;
  background: #f9ccac;
}

footer {
  grid-area: footer;
  background: #674d3c;
}
